sqlite_autoindex_peaks_1|
sqlite_autoindex_workout_peak_hits_1|
sqlite_autoindex_workout_weather_1|
peaks|CREATE TABLE peaks (
                peak_id TEXT PRIMARY KEY,
                name TEXT,
                lat REAL,
                lon REAL,
                ele_m REAL,
                wikidata TEXT,
                wikipedia TEXT,
                source TEXT,
                tags_json TEXT
            )
workout_peak_hits|CREATE TABLE workout_peak_hits (
                workout_id INTEGER,
                peak_id TEXT,
                distance_m REAL,
                PRIMARY KEY (workout_id, peak_id)
            )
workout_route_context|CREATE TABLE workout_route_context (
            workout_id INTEGER PRIMARY KEY,
            start_lat REAL,
            start_lon REAL,
            start_location_label TEXT,
            district TEXT,
            county TEXT,
            region TEXT,
            country TEXT
        )
workout_surface_stats|CREATE TABLE workout_surface_stats (
                workout_id INTEGER PRIMARY KEY,
                road_m REAL,
                paved_path_m REAL,
                trail_m REAL,
                track_m REAL,
                grass_m REAL,
                rock_m REAL,
                forest_m REAL,
                unknown_m REAL,
                detail_json TEXT,
                provider TEXT,
                surface_version TEXT,
                raw_json TEXT
            )
workout_weather|CREATE TABLE workout_weather (
            workout_id INTEGER,
            point_type TEXT,
            temp_c REAL,
            wind_kph REAL,
            precip_mm REAL,
            weather_code INTEGER,
            moon_phase REAL,
            PRIMARY KEY (workout_id, point_type)
        )
